.panel-one{
    width: $panel-one-w;
    border-radius: $box-border-radius;
    margin: 20px 20px;
}

#panel-one{
    &-time{
        width: 80%;
        margin:10px auto;
        background-color: transparent;
    }

    &-date{
        width: 80%;
        margin:10px auto;
        background-color: transparent;
    }
}


.todo-panel{
    width: $todo-panel-w;
    height: $todo-panel-h;
    border-radius: $box-border-radius;
    margin: 20px 20px;
    overflow-y: scroll;
    & h2{
        margin-bottom: $todo-panel-btm-margin;
    }
}

.list-e{
    border: 1px solid $color-p;
    width: 400px;
    margin-left: 10%;
    height: 50px;
    border-radius: $box-border-radius;
    &:not(:last-child){
        margin-bottom: $gutter;
    }
    &-text{
      //  border: 1px solid black;
        width: 75%;
        float: left;
        margin-left: 10px;

    }
        
}

