#panel-one{
    width: 200px;
    border-radius: 20px;
    margin: 20px 20px;
    text-align: center;
}

#panel-one-time{
    font-weight: bolder;
    font-size:30px;
    width: 80%;
    opacity: 80%;
    margin:10px auto;
    background-color: transparent;
}

#panel-one-date{
    font-weight:bold;
    font-size:15px;
    width: 80%;
    opacity: 40%;
    text-align: center;
    margin:10px auto;
    background-color: transparent;
}