*{
    font-family: $font-default;
}

.panel-one{text-align: center;}

#panel-one{
    &-time{
        font-weight: bolder;
        font-size:25px;
        color: $color-p;
    }

    &-date{
        font-weight:bold;
        font-size:15px;
        color:$color-s;
        text-align: center;
    }
}

.todo-panel{
    text-align: center;
    color: $color-p;
}

.task-input{
    font-size: $list-e-size;
   // opacity: $color-p;
}

.list-e-text{
    text-align: left;
    font-size: $list-e-size;
    &-time{
        font-size: $list-e-time-size;
        color: $color-s;
    }
}